@model CastService.Web.ViewModels.Customers.DetailsCustomerViewModel

@{
    ViewBag.Title = "Детайли за клиента";
}

<h2>Детайли за клиента</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldNameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
