@model PagedList.IPagedList<CastService.Web.ViewModels.Installations.ListInstallationsViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Инсталации";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}
<h2>Инсталации</h2>

@using (Html.BeginForm("Index", "Installations", FormMethod.Get))
{
    <div class="container">
        <div class="col-md-3">
            @*Търсене по клиент: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)*@
            Търсене по клиент @Html.TextBox("searchByCustomerName", ViewBag.searchByCustomerName as string, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            Сериен № @Html.TextBox("searchByInstalledPartSerNum", ViewBag.searchByInstalledPartSerNum as string, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            Машина № @Html.TextBox("searchByInstalledObjectNumber", ViewBag.searchByInstalledObjectNumber as string, new { @class = "form-control" })
        </div>
        <div class="pull-right col-md-2">
            &nbsp;<input type="submit" value="Търсене" class="btn btn-info form-control" />
        </div>
    </div>
}
@if (this.User.IsInRole("Администратор") || this.User.IsInRole("Редактор"))
{
    @Html.ActionLink("Нова инсталция", "Create", "Installations", null, new { @class = "btn btn-primary" })
}
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.ActionLink("Клиент", "Index", new { sortOrder = ViewBag.ClientNameSortParams })
        </th>
        <th>
            @Html.ActionLink("Място", "Index", new { sortOrder = ViewBag.PlaceSortParams })
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParams })
        </th>
        <th>
            @Html.DisplayName("Вложено оборудване")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var instDate = item.InstallationDate.ToShortDateString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => instDate)
            </td>
            <td>
                @foreach (var eq in item.InstallatedEquipment)
                {
                    @Html.DisplayTextFor(x => eq.Equipment.Name)
                    <br />
                }
            </td>
            <td>
                @if (this.User.IsInRole("Администратор") || this.User.IsInRole("Редактор"))
                {
                    @Html.ActionLink("Редактиране", "Edit", new { id = item.Id })
                }
                @Html.ActionLink("Детайли", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, 
                    searchByInstalledPartSerNum = ViewBag.searchByInstalledPartSerNum, 
                    searchByCustomerName = ViewBag.searchByCustomerName,
                    searchByInstalledObjectNumber = ViewBag.searchByInstalledObjectNumber
                }))
