@model IEnumerable<CastService.Web.ViewModels.Installations.ListInstallationsViewModel>

@{
    ViewBag.Title = "Index";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}
<h2>Инсталации</h2>

<p>
    @Html.ActionLink("Нова инсталция", "Create", "Installations", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerName)*@
            @Html.ActionLink("Име на клиента", "Index", new { sortOrder = ViewBag.ClientNameSortParams })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ObjectName)*@
            @Html.ActionLink("Място", "Index", new { sortOrder = ViewBag.PlaceSortParams })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InstallationDate)*@
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParams })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment)
        </td>
        <td>
            @Html.ActionLink("Редактиране", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
