@model PagedList.IPagedList<CastService.Web.ViewModels.Protocols.ListProtocolsViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Инсталации";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}
<h2>Сервизни протоколи</h2>

<p>
    @using (Html.BeginForm("Index", "Installations", FormMethod.Get))
    {
        @Html.ActionLink("Нов протокол", "Create", "Protocols", null, new { @class = "btn btn-primary" })
        <span class="pull-right">
            Търсене по клиент: @Html.TextBox("searchString", ViewBag.CurrentFilter as string) 
            <input type="submit" value="Търсене" />
        </span>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Клиент", "Index", new { sortOrder = ViewBag.ClientNameSortParams })
        </th>
        <th>
            @Html.ActionLink("Машина тип", "Index", new { sortOrder = ViewBag.MachineTypeSortParams })
        </th>
        <th>
            @Html.ActionLink("Машина №", "Index", new { sortOrder = ViewBag.MachineNumberSortParams })
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParams })
        </th>
        <th>
            @Html.DisplayName("Вложено оборудване")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var instDate = item.ProtocolDate.ToShortDateString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => instDate)
            </td>
            <td>
                @foreach (var eq in item.ChangedEquipment)
                {
                    @Html.DisplayTextFor(x => eq.Equipment.Name)
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink("Редактиране", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детайли", "Details", new { id = item.Id }) @*|
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
