@*@model IEnumerable<CastService.Web.ViewModels.WaitingsService.ListWaitingsServiceViewModel>*@
@model PagedList.IPagedList<CastService.Web.ViewModels.WaitingsService.ListWaitingsServiceViewModel> 
@using PagedList.Mvc; 

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Заявка за сервиз";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}

<h2>@ViewBag.Title</h2>
@if (this.User.IsInRole("Администратор") || this.User.IsInRole("Редактор"))
{
    <p>
        @Html.ActionLink("Нова заявка за сервиз", "Create", "WaitingsService", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayName("ДКН")
        </th>
        <th>
            @Html.ActionLink("Клиент", "Index", new { sortOrder = ViewBag.CustomerNameSortParams })
        </th>
        <th>
            @Html.ActionLink("Подаден на дата", "Index", new { sortOrder = ViewBag.RequestDateSortParams })
        </th>
        <th>
            @Html.DisplayName("Подал информацията")
        </th>
        <th>
            @Html.DisplayName("Описание на проблема")
        </th>
        <th>
            @Html.ActionLink("Планиран за", "Index", new { sortOrder = ViewBag.PlannedDateSortParams })
        </th>
        <th>
            @Html.ActionLink("Планиран специалист", "Index", new { sortOrder = ViewBag.PlannedSpecialistSortParams })
        </th>
        <th>
            @Html.ActionLink("Извършен", "Index", new { sortOrder = ViewBag.IsDoneSortParams })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var requestDate = item.RequestDate.ToShortDateString();
        var plannedDate = item.PlannedDate.ToShortDateString();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => requestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => plannedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedSpecialist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @if (this.User.IsInRole("Администратор") || this.User.IsInRole("Редактор"))
                {
                    @Html.ActionLink("Редактиране", "Edit", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
<br /> 
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))