@model PagedList.IPagedList<CastService.Web.ViewModels.WaitingsService.ListWaitingsServiceViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}
<center>
    <div class="page-header">
        <img src="~/Images/cast.jpg" class="img-responsive" />

    </div>
</center>

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("ДКН")
                    </th>
                    <th>
                        @Html.ActionLink("Клиент", "Index", new { sortOrder = ViewBag.CustomerNameSortParams })
                    </th>
                    <th>
                        @Html.ActionLink("Подаден на дата", "Index", new { sortOrder = ViewBag.RequestDateSortParams })
                    </th>
                    <th>
                        @Html.DisplayName("Подал информацията")
                    </th>
                    <th>
                        @Html.DisplayName("Описание на проблема")
                    </th>
                    <th>
                        @Html.ActionLink("Планиран за", "Index", new { sortOrder = ViewBag.PlannedDateSortParams })
                    </th>
                    <th>
                        @Html.ActionLink("Планиран специалист", "Index", new { sortOrder = ViewBag.PlannedSpecialistSortParams })
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    var requestDate = item.RequestDate.ToShortDateString();
                    var plannedDate = item.PlannedDate.ToShortDateString();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObjectNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => requestDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmittedInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProblemDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => plannedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlannedSpecialist)
                        </td>
                    </tr>
                }

            </table>
            <br />
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
        </div>
    </div>
}